/* Remove margens e espaçamentos padrões do navegador
   e faz o tamanho dos elementos incluir bordas e padding. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Faz a aplicação ocupar toda a tela. */
html,
body,
#root {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

/* Define a fonte padrão de todo o sistema. */
body {
  font-family: Arial, Helvetica, sans-serif;
}